# Remove the previous line if you edit this file

# Export all names
exportPattern("ˆ[[:alpha:]]+")

useDynLib('surv2sample')

# Import all packages listed as Imports or Depends
importFrom(
  Rcpp, sourceCpp
)
